$primary: #142844;
$primary-focus: #12253F;
$primary-content: #ffffff;

$secondary: #eff4fa;
$secondary-focus: #C1D6EB;
$secondary-content: #0A141F;

$base-1: #F0EAE5;
$base-2: #E9DFD8;
$base-3: #E1D3C8;
$base-content: #12253F;

$accent: #b90251;
$accent-focus: #A20247;
$accent-content: #ffffff;
